In [94]:
import pandas as pd
import numpy as np
import time

In [95]:
df_stop_101 = pd.read_csv('stopDataByStation/station101Mar7toMar15.csv')
df_stop_102 = pd.read_csv('stopDataByStation/station102Mar7toMar15.csv')
df_stop_103 = pd.read_csv('stopDataByStation/station103Mar7toMar15.csv')
df_sensor = pd.read_csv('sensorDataMar8toMar20.csv')

In [96]:
df_stop_101['Starttid'] = df_stop_101['Starttid'].astype('datetime64')
df_stop_101['Sluttid'] = df_stop_101['Sluttid'].astype('datetime64')
df_stop_102['Starttid'] = df_stop_102['Starttid'].astype('datetime64')
df_stop_102['Sluttid'] = df_stop_102['Sluttid'].astype('datetime64')
df_stop_103['Starttid'] = df_stop_103['Starttid'].astype('datetime64')
df_stop_103['Sluttid'] = df_stop_103['Sluttid'].astype('datetime64')
df_sensor['time'] = df_sensor['time'].astype('datetime64')

In [97]:
df_sensor.head()

,Unnamed: 0,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103
0,0,2023-03-10 18:16:13,21474836.47,0.00,0.00,41.28,2102.78,0.00,0.00,3453.57,21474836.47,0.00,0.0,19.54
1,1,2023-03-14 11:11:02,21474836.47,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
2,2,2023-03-14 11:45:31,21474836.47,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
3,3,2023-03-14 11:46:15,21474836.47,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
4,4,2023-03-14 11:46:58,21474836.47,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00

In [98]:
df_stop_101 = df_stop_101.drop_duplicates().sort_values(by='Starttid').reset_index().drop(['index','Unnamed: 0'], axis=1)
df_stop_102 = df_stop_102.drop_duplicates().sort_values(by='Starttid').reset_index().drop(['index','Unnamed: 0'], axis=1)
df_stop_103 = df_stop_103.drop_duplicates().sort_values(by='Starttid').reset_index().drop(['index','Unnamed: 0'], axis=1)
df_sensor = df_sensor.sort_values(by='time').reset_index().drop(['index','Unnamed: 0'], axis=1).drop_duplicates().reset_index().drop(['index'], axis=1)

In [99]:
df_sensor.head()

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103
0,2023-03-07 08:29:58,NaN,21474836.47,0.0,44.37,974.28,3462.51,0.0,-3538.14,24.79,19.69,0.0,21.73
1,2023-03-07 08:30:26,NaN,21474836.47,0.0,44.48,974.43,3462.51,0.0,-3538.14,24.69,19.69,0.0,21.73
2,2023-03-07 08:30:56,NaN,21474836.47,0.0,44.15,974.49,3462.51,0.0,-3538.14,24.69,19.73,0.0,21.74
3,2023-03-07 08:30:56,NaN,21474836.47,0.0,43.88,974.18,3462.51,0.0,-3538.14,24.54,75.14,0.0,21.76
4,2023-03-07 08:31:23,NaN,21474836.47,0.0,44.16,974.14,3462.51,0.0,-3538.14,24.47,19.73,0.0,21.77

In [100]:
df_sensor['next_time'] =  df_sensor['time'].shift(-1)

In [101]:
df_sensor.head()

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103,next_time
0,2023-03-07 08:29:58,NaN,21474836.47,0.0,44.37,974.28,3462.51,0.0,-3538.14,24.79,19.69,0.0,21.73,2023-03-07 08:30:26
1,2023-03-07 08:30:26,NaN,21474836.47,0.0,44.48,974.43,3462.51,0.0,-3538.14,24.69,19.69,0.0,21.73,2023-03-07 08:30:56
2,2023-03-07 08:30:56,NaN,21474836.47,0.0,44.15,974.49,3462.51,0.0,-3538.14,24.69,19.73,0.0,21.74,2023-03-07 08:30:56
3,2023-03-07 08:30:56,NaN,21474836.47,0.0,43.88,974.18,3462.51,0.0,-3538.14,24.54,75.14,0.0,21.76,2023-03-07 08:31:23
4,2023-03-07 08:31:23,NaN,21474836.47,0.0,44.16,974.14,3462.51,0.0,-3538.14,24.47,19.73,0.0,21.77,2023-03-07 08:31:41

In [102]:
df_sensor_101 = df_sensor.copy()
df_sensor_102 = df_sensor.copy()
df_sensor_103 = df_sensor.copy()

In [103]:
for i, row1 in df_sensor_101.iterrows():
    for j, row2 in df_stop_101.iterrows():
        if row1['time'] <= row2['Starttid'] and row2['Starttid'] <= row1['next_time']:
            df_sensor_101.at[i, 'next_stop_101_time'] = row2['Starttid']
            df_sensor_101.at[i, 'next_stop_101_type'] = row2['Stopporsak']
            df_sensor_101.at[i, 'next_stop_101_information'] = row2['Station']
            
            
for i, row1 in df_sensor_102.iterrows():
    for j, row2 in df_stop_102.iterrows():
        if row1['time'] <= row2['Starttid'] and row2['Starttid'] <= row1['next_time']:
            df_sensor_102.at[i, 'next_stop_102_time'] = row2['Starttid']
            df_sensor_102.at[i, 'next_stop_102_type'] = row2['Stopporsak']
            df_sensor_102.at[i, 'next_stop_102_information'] = row2['Station']
            
for i, row1 in df_sensor_103.iterrows():
    for j, row2 in df_stop_103.iterrows():
        if row1['time'] <= row2['Starttid'] and row2['Starttid'] <= row1['next_time']:
            df_sensor_103.at[i, 'next_stop_103_time'] = row2['Starttid']
            df_sensor_103.at[i, 'next_stop_103_type'] = row2['Stopporsak']
            df_sensor_103.at[i, 'next_stop_103_information'] = row2['Station']

In [104]:
df_sensor_103.head()

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103,next_time,next_stop_103_time,next_stop_103_type,next_stop_103_information
0,2023-03-07 08:29:58,NaN,21474836.47,0.0,44.37,974.28,3462.51,0.0,-3538.14,24.79,19.69,0.0,21.73,2023-03-07 08:30:26,NaT,NaN,NaN
1,2023-03-07 08:30:26,NaN,21474836.47,0.0,44.48,974.43,3462.51,0.0,-3538.14,24.69,19.69,0.0,21.73,2023-03-07 08:30:56,NaT,NaN,NaN
2,2023-03-07 08:30:56,NaN,21474836.47,0.0,44.15,974.49,3462.51,0.0,-3538.14,24.69,19.73,0.0,21.74,2023-03-07 08:30:56,NaT,NaN,NaN
3,2023-03-07 08:30:56,NaN,21474836.47,0.0,43.88,974.18,3462.51,0.0,-3538.14,24.54,75.14,0.0,21.76,2023-03-07 08:31:23,NaT,NaN,NaN
4,2023-03-07 08:31:23,NaN,21474836.47,0.0,44.16,974.14,3462.51,0.0,-3538.14,24.47,19.73,0.0,21.77,2023-03-07 08:31:41,NaT,NaN,NaN

In [105]:
columns_to_fill = ['next_stop_101_time', 'next_stop_101_type', 'next_stop_101_information']
filled_cols = df_sensor_101[columns_to_fill].fillna(method='bfill')
df_sensor_101[columns_to_fill] = filled_cols
df_sensor_101.head()

columns_to_fill = ['next_stop_102_time', 'next_stop_102_type', 'next_stop_102_information']
filled_cols = df_sensor_102[columns_to_fill].fillna(method='bfill')
df_sensor_102[columns_to_fill] = filled_cols

columns_to_fill = ['next_stop_103_time', 'next_stop_103_type', 'next_stop_103_information']
filled_cols = df_sensor_103[columns_to_fill].fillna(method='bfill')
df_sensor_103[columns_to_fill] = filled_cols
df_sensor_103.head()

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103,next_time,next_stop_103_time,next_stop_103_type,next_stop_103_information
0,2023-03-07 08:29:58,NaN,21474836.47,0.0,44.37,974.28,3462.51,0.0,-3538.14,24.79,19.69,0.0,21.73,2023-03-07 08:30:26,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel
1,2023-03-07 08:30:26,NaN,21474836.47,0.0,44.48,974.43,3462.51,0.0,-3538.14,24.69,19.69,0.0,21.73,2023-03-07 08:30:56,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel
2,2023-03-07 08:30:56,NaN,21474836.47,0.0,44.15,974.49,3462.51,0.0,-3538.14,24.69,19.73,0.0,21.74,2023-03-07 08:30:56,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel
3,2023-03-07 08:30:56,NaN,21474836.47,0.0,43.88,974.18,3462.51,0.0,-3538.14,24.54,75.14,0.0,21.76,2023-03-07 08:31:23,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel
4,2023-03-07 08:31:23,NaN,21474836.47,0.0,44.16,974.14,3462.51,0.0,-3538.14,24.47,19.73,0.0,21.77,2023-03-07 08:31:41,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel

In [106]:
df_sensor_101['RUL_101'] = df_sensor_101['next_stop_101_time'] - df_sensor_101['time']
df_sensor_102['RUL_102'] = df_sensor_102['next_stop_102_time'] - df_sensor_102['time']
df_sensor_103['RUL_101'] = df_sensor_103['next_stop_103_time'] - df_sensor_103['time']
df_sensor_103.head()

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103,next_time,next_stop_103_time,next_stop_103_type,next_stop_103_information,RUL_101
0,2023-03-07 08:29:58,NaN,21474836.47,0.0,44.37,974.28,3462.51,0.0,-3538.14,24.79,19.69,0.0,21.73,2023-03-07 08:30:26,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel,0 days 01:06:22.028000
1,2023-03-07 08:30:26,NaN,21474836.47,0.0,44.48,974.43,3462.51,0.0,-3538.14,24.69,19.69,0.0,21.73,2023-03-07 08:30:56,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel,0 days 01:05:54.028000
2,2023-03-07 08:30:56,NaN,21474836.47,0.0,44.15,974.49,3462.51,0.0,-3538.14,24.69,19.73,0.0,21.74,2023-03-07 08:30:56,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel,0 days 01:05:24.028000
3,2023-03-07 08:30:56,NaN,21474836.47,0.0,43.88,974.18,3462.51,0.0,-3538.14,24.54,75.14,0.0,21.76,2023-03-07 08:31:23,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel,0 days 01:05:24.028000
4,2023-03-07 08:31:23,NaN,21474836.47,0.0,44.16,974.14,3462.51,0.0,-3538.14,24.47,19.73,0.0,21.77,2023-03-07 08:31:41,2023-03-07 09:36:20.028,Mekaniskt fel,103. Montering gavel,0 days 01:04:57.028000

In [107]:
df_sensor_101.to_csv('df_sensor_stop101')
df_sensor_102.to_csv('df_sensor_stop102')
df_sensor_103.to_csv('df_sensor_stop103')