In [1]:
import pandas as pd
import numpy as np

In [17]:
columns = ["time", "humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]

## merge all txt files

In [137]:
df = pd.DataFrame(columns=columns)

In [138]:
import glob, os

for file in glob.glob("*.txt"):
    if "output" in file:
        data = pd.read_csv(file, names=columns, header=None, index_col=False)
        df = pd.concat([df, data], ignore_index=True)

In [146]:
df["time"] = pd.to_datetime(df["time"], format='%Y-%m-%d %H-%M-%S')

In [157]:
df_1 = pd.DataFrame(columns=columns)

In [158]:
import glob, os

for file in glob.glob("*.txt"):
    if "T" in file:
        data = pd.read_csv(file, names=columns, header=None, index_col=False)
        df_1 = pd.concat([df_1, data], ignore_index=True)

In [163]:
df_1["time"] = pd.to_datetime(df_1["time"], format='%Y-%m-%dT%H:%M:%S.%f')

## remove duplicates

In [164]:
df = pd.concat([df, df_1], ignore_index=True)

In [175]:
df = df.drop_duplicates()

## merge file sensor data

In [106]:
# save the whole dataframe
df_3 = pd.DataFrame()

In [107]:
for folder in glob.glob("*"):
    if not folder.endswith ('.txt') and "2023" in folder:
        
        # save dataframe for each folder
        df_2 = pd.DataFrame()
        for file in glob.glob(folder+"/*"):

            start = file.find('output_')+7
            end = file.find('.csv', start)
            data_2 = pd.read_csv(file,names=["time_"+file[start:end],file[start:end]],index_col=False).tail(-1)
            df_2 = pd.concat([df_2, data_2], axis=1)
        df_3 = pd.concat([df_3, df_2], ignore_index=True)

In [109]:
df_3 = df_3[["time_temp_s103", "humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]]

In [112]:
df_3.head()

,time_temp_s103,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103
0,2023-03-08 21:23:36,2147483647,0,0,3833,210278,0,0,345357,2147483647,0,0,2058
1,2023-03-08 07:45:33,2147483647,0,0,3876,210278,0,0,97829,2147483647,0,0,2058
2,2023-03-08 07:44:55,2147483647,0,0,3915,210278,0,0,97830,2147483647,0,0,2058
3,2023-03-08 07:44:28,2147483647,0,0,3973,210278,0,0,97826,2147483647,0,0,2058
4,2023-03-08 07:44:02,2147483647,0,0,3984,210278,0,0,97830,2147483647,0,0,2059

In [121]:
df_3 = df_3.rename(columns = {'time_temp_s103':'time'})

In [122]:
df_3 = df_3.drop_duplicates()

In [179]:
df_3["time"] = pd.to_datetime(df_3["time"], format='%Y-%m-%d %H:%M:%S')

In [180]:
df = pd.concat([df, df_3], ignore_index=True)

In [186]:
df["time"] = pd.to_datetime(df["time"], format='%Y-%m-%d %H:%M:%S')

In [187]:
df["time"].dt.day.unique()

array([10, 14, 16, 17, 13, 18, 19, 20,  8,  7])

In [196]:
df[["humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]] = df[["humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]].astype(float)

In [198]:
df[["humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]] = df[["humi_s101", "humi_s1021", "humi_s1022", "humi_s103", "press_s101",
                             "press_s1021", "press_s1022", "press_s103", "temp_s101", "temp_s1021",
                             "temp_s1022", "temp_s103"]]/100

In [204]:
# label the missing value
df.fillna(0.001)

,time,humi_s101,humi_s1021,humi_s1022,humi_s103,press_s101,press_s1021,press_s1022,press_s103,temp_s101,temp_s1021,temp_s1022,temp_s103
0,2023-03-10 18:16:13,2.147484e+07,0.00,0.00,41.28,2102.78,0.00,0.00,3453.57,21474836.47,0.00,0.0,19.54
1,2023-03-14 11:11:02,2.147484e+07,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
2,2023-03-14 11:45:31,2.147484e+07,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
3,2023-03-14 11:46:15,2.147484e+07,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
4,2023-03-14 11:46:58,2.147484e+07,21474836.47,19.13,0.00,3474.52,3600.55,3431.85,0.00,21474836.47,21474836.47,33.6,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11917,2023-03-07 08:30:56,1.000000e-03,21474836.47,0.00,43.88,974.18,3462.51,0.00,-3538.14,24.54,75.14,0.0,21.76
11918,2023-03-07 08:30:56,1.000000e-03,21474836.47,0.00,44.15,974.49,3462.51,0.00,-3538.14,24.69,19.73,0.0,21.74
11919,2023-03-07 08:30:26,1.000000e-03,21474836.47,0.00,44.48,974.43,3462.51,0.00,-3538.14,24.69,19.69,0.0,21.73
11920,2023-03-07 08:29:58,1.000000e-03,21474836.47,0.00,44.37,974.28,3462.51,0.00,-3538.14,24.79,19.69,0.0,21.73
11921,2023-03-08 13:26:00,2.147484e+07,0.00,0.00,38.33,2102.78,0.00,0.00,3453.57,21474836.47,0.00,0.0,20.58

In [205]:
df.to_csv("sensorDataMar8toMar20.csv")